---
Checks: '
bugprone-*,
clang-diagnostic-*,
clang-analyzer-*,
cppcoreguidelines-*,
-cppcoreguidelines-avoid-magic-numbers,
-cppcoreguidelines-special-member-functions,
misc-*,
-misc-confusable-identifiers,
-misc-include-cleaner,
-misc-no-recursion,
modernize-*,
-modernize-use-trailing-return-type,
-modernize-use-nodiscard,
performance-*,
readability-*,
-readability-identifier-length,
-readability-magic-numbers,
-readability-convert-member-functions-to-static,
'
HeaderFileExtensions:
  - ''
  - h
  - hpp
ImplementationFileExtensions:
  - c
  - cpp
FormatStyle:     file
WarningsAsErrors: '*'
...

